@import "~assets/styles/_bootstrap";

body {
  background: #edf0f0;
}

.simulate4-page {
  height: 100%;

  .wrapper {
    padding-top: rem(90px);
    padding-bottom: rem(20px);
    height: 100%;

    .header {
      padding-top: rem(262px);

      &:before {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: rem(262px);
        content: ' ';
        background: url('~assets/images/simulate_bg.jpg') no-repeat;
        background-size: cover;
      }

      .center {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: rem(50px) 0;
        width: 100%;
        height: rem(262px);
        text-align: center;

        .tips {
          padding-top: rem(30px);
          font-size: rem(36px);
          color: #fff;
        }
      }
    }

    .main {
      margin: 0 auto;
      padding-bottom: rem(40px);
      width: rem(692px);
      background: #fff;

      .text {
        padding: rem(30px) rem(20px);

        > p {
          font-size: rem(24px);
          line-height: rem(50px);
          color: #333;
          text-align: center;
        }
      }

      .content {
        margin: 0 auto;
        padding-top: rem(20px);
        width: rem(650px);
        border: 1px solid #ccc;

        &:after {
          position: absolute;
          display: block;
          bottom: rem(-18px);
          content: ' ';
          width: 100%;
          height: rem(20px);
          background: url('~assets/images/simulate.png') center bottom repeat-x;
          background-size: rem(30px) rem(18px);
        }


        .item {
          padding-left: rem(20px);
          padding-bottom: rem(20px);

          &:after {
            display: block;
            clear: both;
            content: ' ';
          }

          > span {
            float: left;
            display: inline-block;
            padding-top: rem(20px);
            width: rem(160px);
            font-size: rem(28px);
            color: #333;
          }

          .bank-gorup {
            float: right;
            width: rem(450px);
            font-size: rem(28px);

            &:after {
              display: block;
              clear: both;
              content: ' ';
            }

            .bank {
              position: relative;
              float: left;
              margin-right: rem(10px);
              margin-bottom: rem(10px);
              padding-left: rem(10px);
              width: rem(205px);
              line-height: rem(70px);
              text-align: center;
              border: 1px solid $bc;
              border-radius: rem(5px);

              > a {
                display: inline-block;

                > img {
                  display: inline-block;
                  width: rem(50px);
                  height: rem(50px);
                  vertical-align: middle;
                }

                > span {
                  display: inline-block;
                  width: rem(130px);
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  vertical-align: middle;
                }
              }

              .sp {
                position: absolute;
                top: rem(-8px);
                right: rem(-8px);
              }

            }
          }
        }
      }
    }

    .bank-money {
      padding: rem(20px) rem(30px) 0 rem(30px);

      .content {
        padding-left: rem(30px);
        height: rem(105px);
        line-height: rem(105px);
        background: #fff;

        > span {
          vertical-align: middle;
        }

        .sp-right {
          position: absolute;
          top: 0;
          right: rem(30px);
          bottom: 0;
          margin: auto 0;
        }
      }

    }

    .footer {
      padding-top: rem(78px);

      .link {
        display: block;
        margin: 0 auto;
        width: rem(400px);
        height: rem(80px);
        line-height: rem(80px);
        text-align: center;
        font-size: rem(36px);
        color: #fff;
        border-radius: rem(10px);
        background: #01b5f1;
      }
    }

  }


}
