@import "~assets/styles/_bootstrap";

.auto-banner-page {
  width: 100%;
  height: 100%;

  .wrapper {
    width: 100%;
    height: 100%;

    .container {
      width: 100%;
      height: 100%;

      .swiper-container {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        position: relative;
        height: 100%;
        overflow: auto;

        .image {
          position: relative;
          width: 100%;
          height: 100%;

          .swiper-img {
            display: block;
            width: 100%;
            height: 100%;
          }

          .jump {
            position: absolute;
            top: 82%;
            left: 29%;
            display: block;
            width: rem(320px);
            height: rem(80px);
          }
        }

        .upward {
          position: absolute;
          left: 0;
          bottom: rem(60px);
          width: 100%;
          text-align: center;

          span {
            animation: start 1.5s infinite ease-in-out;
          }
        }
      }

      .join-tips {
        position: absolute;
        top: 70%;
        width: 100%;
        font-size: rem(30px);
        text-align: center;
        line-height: 1.67;
        color: #fff;

        .slide-num {
          display: inline-block;
          width: rem(170px);
          font-size: rem(56px);

          color: #fe5300;
        }
      }
    }
  }
}
@keyframes start {
  0%, 30% {
    opacity: 0;
    transform: translateY(0px);
  }
  60% {
    opacity: 1;
    transform: translate(-20);
  }
  100% {
    opacity: 0;
    transform: translateY(-36px);
  }
}