@import "~assets/styles/_bootstrap";

.addbank-page {
  height: 100%;
  padding-top: rem(90px);
  background: #eeeff1;

  .wrapper {

    .container {

      .form-group {

        .list {
          margin-bottom: rem(20px);
          box-shadow: 0 rem(10px) rem(20px) rgba(0, 0, 0, .1);

          .item {
            padding-left: rem(30px);
            background-color: #fff;

            &:not(:last-child) .box {
              border-bottom: 1px solid $bc;
            }

            .box {
              display: flex;
              padding: rem(15px) rem(20px) rem(15px) 0;

              .name, .content {
                height: rem(70px);
                line-height: rem(70px);
                font-size: rem(30px);
                color: #333;
              }

              .content {
                flex: 1;
                min-width: 1px;
                padding-left: rem(40px);

                .input-item {
                  display: block;
                  width: 100%;
                  height: 100%;
                  border: none;
                  outline: none;
                  color: #333;
                }
              }

              .code {

                .phone-code {
                  background-color: #01b3f0;
                  color: #fff;
                  padding: 0 rem(20px);
                  border-radius: rem(10px);
                }
              }
            }

            .box-bank {
              justify-content: space-between;

              .name1, .content1 {
                height: rem(70px);
                line-height: rem(70px);
                font-size: rem(30px);
                color: #333;
              }
              .nam1 {
                width: rem(200px);
              }
              .content1 {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: rem(480px);

                .input-bank {
                  width: rem(430px);
                  padding-right: rem(15px);
                  height: 100%;
                  border: none;
                  outline: none;
                  color: #333;
                  text-align: right;
                }
              }

            }
          }
        }

        .submit-btn {
          padding-top: rem(40px);
          text-align: center;

          .btn {
            display: inline-block;
            vertical-align: top;
            width: rem(400px);
            height: rem(80px);
            line-height: rem(80px);
            background-color: #c9c9c9;
            font-size: rem(36px);
            color: #fff;
            border-radius: rem(10px);
            border: none;
            outline: none;

            &.active {
              background-color: #01b3f0;
            }
          }
        }
      }
    }
  }

  .iframe {
    width: 100%;
    height: 100%;
    background: #fff;
  }
}