@import "~assets/styles/_bootstrap";

.user-insure-money-page {
  height: 100%;
  background: #eee;
  z-index: 1000;

  ._v-content {
    padding-top: rem(90px);
  }


  .controller {

    .inner {

      .title {
        padding: 0 rem(20px);
        height: rem(95px);
        line-height: rem(95px);
        color: #666;
      }

      .list {
        background: #fff;

        .item {
          padding: 0 rem(20px);
          width: 100%;
          height: rem(125px);
          border-bottom: 1px solid $bc;

          .body {
            display: inline-block;
            top: 50%;
            vertical-align: middle;
            transform: translate(0, -50%);

            .tit {
              color: #333;

              &.on {
                color: #01b3f0;
              }
            }
          }

          .right {
            position: absolute;
            top: 50%;
            right: rem(20px);
            transform: translate(0, -50%);

            > span {
              padding-right: rem(10px);
              color: #2ea7e0;
              vertical-align: middle;

              &.del {
                color: #999;
                text-decoration: line-through;
              }
            }
          }
        }
      }
    }

  }


}
