@import "~assets/styles/_bootstrap";

.wechat_card_insurance_sign_page {
  height: 100%;
	background: #edf0f0;
  overflow: auto;

	._v-container > ._v-content {
    padding-top: rem(90px);
  }

  .wrapper {
  	height: 100%;
  	padding-top: rem(90px);

  	.swiper-container{
	    width: 100%;
	    height: 100%;

	    .swiper-slide {
	    	height: auto;
	    }
		}

    .controller {

      .main {
				padding-bottom: rem(60px);

				.photo {
					width: 100%;
					height: rem(250px);

					> img {
						width: 100%;
						height: 100%;
						vertical-align: middle;
					}
				}

				.form-box {
					margin: rem(20px) rem(46px);

					.list {

						.item {
							margin-bottom: rem(20px);
							width: 100%;
							height: rem(96px);
							border: 1px solid $bc;
							border-radius: rem(10px);
							background-color: #fff;

							> input {
								padding-left: rem(20px);
								width: 100%;
								height: 100%;
								border: none;
								border-radius: rem(10px);
							}
						}
					}

					.affirm {
						text-align: center;

						.btn {
							margin: rem(40px) auto;
							width: 100%;
							height: rem(104px);
							line-height: rem(104px);
							text-align: center;
							font-size: rem(32px);
							color: #fff;
							border: none;
							border-radius: rem(10px);
							background-color: #ccc;
						}

						.active {
							background-color: #01b3f0;
						}
					}
				}
			}
		}
	}
}

