@import "~assets/styles/_bootstrap";

.withdraw-deposit-page {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: #edf0f0;


  .head {
    padding-top: rem(280px);
    padding-bottom: rem(40px);
    width: 100%;
    z-index: 999;

    &:before {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 100%;
      background: url('~assets/images/user-home-bg.jpg') top center no-repeat;
      background-size: cover;
      content: ' ';
    }

    .content {
      position: absolute;
      top: rem(140px);
      right: 0;
      left: 0;
      margin: 0 auto;
      width: rem(570px);
    }

    .top {

      .avatar {
        display: inline-block;
        width: rem(120px);
        height: rem(120px);
        border-radius: 50%;
        overflow: hidden;

        > a {
          display: block;
          width: 100%;
          height: 100%;

          > img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .user-info {
        position: absolute;
        display: inline-block;
        top: 50%;
        padding-left: rem(35px);
        transform: translate(0, -50%);

        .name {
          > span {
            margin-right: rem(20px);
            max-width: rem(320px);
            font-size: rem(32px);
            color: #ffdb00;
            vertical-align: middle;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;

          }

          .practice {

            > em {
              font-size: rem(24px);
              color: #fecb31;
            }
          }

        }

        .tags {
          margin: 0 rem(-15px);
          padding-top: rem(20px);

          > span {
            display: inline-block;
            margin: 0 rem(15px);
            min-width: rem(100px);
            padding: rem(5px) rem(15px);
            font-size: rem(24px);
            text-align: center;
            color: #fff;
            border: 1px solid #fff;
            border-radius: 50px;
          }
        }
      }

    }

  }


  .wrapper {
    padding-top: rem(320px);
    font-size: rem(28px);
    color: #333;

    .deposit-top {
      width: 100%;
      height: rem(207px);
      background-color: #fff;

      .left {
        float: left;
        width: rem(180px);
        height: 100%;
        padding-left: rem(20px);
        padding-top: rem(35px);
      }

      .mid {
        float: left;
        width: rem(500px);
        height: 100%;
        padding-top: rem(35px);
        padding-left: rem(50px);

        .bank-info {

          > li {
            margin-bottom: rem(18px);
          }

          .tips {
            font-size: rem(24px);
            color: #999;
          }
        }
      }

      .right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        float: left;
        width: rem(70px);
        height: 100%;
        padding-right: rem(20px);
      }
    }

    .deposit-info {
      width: 100%;
      height: rem(110px);
      padding-left: rem(20px);
      line-height: rem(110px);
      color: #999;

      > span {
        margin-left: rem(25px);
      }

      > .all {
        color: #01b3f0;
        padding-left: rem(20px);
        padding-right: rem(20px);
      }
    }

    .deposit-value {
      width: 100%;
      height: rem(215px);
      background-color: #fff;

      > h3 {
        height: rem(88px);
        padding-left: rem(20px);
        line-height: rem(88px);
        font-size: rem(28px);
      }

      .input-group {
        width: 100%;
        height: rem(127px);
        padding-left: rem(20px);
        line-height: rem(127px);

        > span, input {
          float: left;
          font-size: rem(36px);
        }

        > input {
          box-sizing: content-box;
          width: 90%;
          height: rem(67px);
          padding: rem(30px) 0 rem(30px) rem(20px);
          padding-top: rem(30px);
          padding-bottom: rem(30px);
          border: none;
          outline: none;
        }

      }

      .tips {
        padding: rem(20px);
      }
    }

    .deposit-btn {
      width: 87%;
      height: rem(105px);
      margin: 0 auto;
      margin-top: rem(180px);
      font-size: rem(36px);
      color: #fff;
      background-color: #01b3f0;
      text-align: center;
      line-height: rem(105px);
      border-radius: rem(12px);
    }

    .foot {
      padding: rem(40px);

      .tips {
        line-height: rem(40px);
        font-size: rem(24px);
        color: #999;
      }
    }
 }
}
