@import "~assets/styles/_bootstrap";

.card-share-page {
  height: 100%;
  background: #eee;

  .header-page {
    background: initial;

  }

  // > ._v-container > ._v-content {
  //   padding-top: rem(90px);
  // }

  .banner {
    padding-top: rem(430px);
    width: 100%;

    > img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 100%;
      height: 100%;
    }

    // &:before {
    //   position: absolute;
    //   display: block;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   width: 100%;
    //   height: 100%;
    //   background: url('~assets/images/share_card_bg-01.jpg') no-repeat;
    //   background-size: 100%;
    //   content: ' ';
    // }

    .user-info {
      position: absolute;
      top: rem(90px);
      padding: 0 rem(25px);
      width: 100%;

      > i {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      .top {
        margin-top: rem(70px);
        padding-bottom: rem(40px);
        width: 100%;
        border-bottom: 1px dashed #767171;

        .avatar {
          display: inline-block;
          padding: rem(6px);
          width: rem(100px);
          height: rem(100px);
          vertical-align: middle;
          border-radius: rem(16px);
          background: rgba(255, 255, 255, .2);

          .link {
            display: block;
            width: 100%;
            height: 100%;

            > img {
              width: 100%;
              height: 100%;
              border-radius: rem(16px);
            }
          }

        }

        .name-num {
          display: inline-block;
          padding-left: rem(25px);
          vertical-align: middle;

          .name {
            font-size: rem(32px);
            color: #ffdb00;
          }

          .num {
            padding-top: rem(4px);
            font-size: rem(24px);
            color: #989797;
          }

          .day {
            padding-top: rem(4px);
            font-size: rem(24px);
            color: #fff;
          }
        }

        .point-weather {
          position: absolute;
          top: rem(-10px);
          right: rem(25px);
          color: #fff;
          text-align: center;

          .winddirect {
            padding-top: rem(10px);
            font-size: rem(24px);
          }

          .weather {
            margin-top: rem(-4px);
            height: rem(54px);
            font-size: rem(24px);

            > i {
              transform: scale(0.8);
            }

            > span {
              vertical-align: middle;
            }
          }

          .point {
            padding-top: rem(10px);
            padding-left: rem(20px);
            font-size: rem(24px);
          }
        }
      }

      .bot {
        margin: 0 rem(-20px);
        padding: rem(40px) rem(20px) 0 rem(20px);

        &:after {
          display: block;
          clear: both;
          content: ' ';
        }

        .tag {
          float: left;
          margin: 0 rem(15px) rem(10px) rem(15px);
          padding: 0 rem(15px);
          height: rem(50px);
          line-height: rem(50px);
          font-size: rem(24px);
          color: #989797;
          border: 1px solid #989797;
          border-radius: rem(50px);

          &:last-child {
            float: right;
          }

          > span {
            color: #fff;
          }
        }
      }
    }
  }


  .container {
    padding-bottom: rem(120px);

    .help-inner {
      font-size: rem(24px);
      padding: 0 rem(20px) rem(20px) rem(20px);

      &:after {
        display: block;
        clear: both;
        content: ' ';
      }

      .title {
        float: left;
        width: rem(140px);
      }

      .text {
        float: left;
        width: rem(550px);
        color: #999;

        > p {
          &.trial {
            padding-top: rem(10px);
            color: #2faff3;
          }
        }
      }
    }

    .block {
      margin-bottom: rem(20px);
      padding: 0 rem(20px);
      width: 100%;
      text-align: left;
      border-bottom: 1px solid $bc;
      background: #fff;

      .title {
        padding-top: rem(35px);
        font-size: rem(30px);
        color: #333;
      }
    }

    .block-01 {
      padding-top: rem(40px);
      padding-bottom: rem(40px);
      width: 100%;
      height: rem(460px);

      &:after {
        display: block;
        clear: both;
        content: ' ';
      }

      .body {
        opacity: 0;
        transition: all .5s;

        &.on {
          opacity: 1;
        }
      }


      .start {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;

        &:before, &:after {
          position: absolute;
          display: block;
          top: 0;
          bottom: 0;
          content: ' ';
          border-radius: 50%;
        }

        &:before {
          left: 0;
          right: 0;
          margin: auto;
          width: rem(100px);
          height: rem(100px);
          background: linear-gradient(to bottom, #b3e2ff, #84cbe4);
          animation: warn 1s infinite linear;

        }

        &:after {
          left: 0;
          right: 0;
          margin: auto;
          width: rem(60px);
          height: rem(60px);
          background: linear-gradient(to bottom, #91d3fc, #56bdfa);
          animation: warn 1s 1s infinite linear;
        }

        @keyframes warn {
          0% {
            transform: scale(.3);
            opacity: 0;
          }
          25% {
            transform: scale(0.3);
            opacity: 0.3;
          }
          50% {
            transform: scale(0.5);
            opacity: 0.5;
          }
          75% {
            transform: scale(0.7);
            opacity: 0.7;
          }
          100% {
            transform: scale(1);
            opacity: 1;
          }
        }

        > span {
          position: absolute;
          top: 50%;
          left: 50%;
          padding-top: rem(180px);
          transform: translate(-50%, -50%);
        }

      }

      .left {
        float: left;
        width: 50%;

        .data {
          padding-top: rem(128px);

          &:before {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('~assets/images/share_card_01.png') no-repeat;
            background-size: 100%;
            content: ' ';
          }

          &.data-03 {
            &:before {
              background: url('~assets/images/share_card_03.png') no-repeat;
              background-size: 100%;
            }
          }

          &.data-04 {
            &:before {
              background: url('~assets/images/share_card_04.jpg') no-repeat;
              background-size: 100%;
            }
          }

          &.data-05 {
            &:before {
              background: url('~assets/images/share_card_05.png') no-repeat;
              background-size: 100%;
            }
          }

          &.data-08 {
            &:before {
              background: url('~assets/images/share_card_08.png') no-repeat;
              background-size: 100%;
            }
          }

          &.data-010 {
            &:before {
              background: url('~assets/images/share_card_010.png') no-repeat;
              background-size: 100%;
            }
          }

          &.data-011 {
            &:before {
              background: url('~assets/images/share_card_011.png') no-repeat;
              background-size: 100%;
            }
          }

          &.data-017 {
            &:before {
              background: url('~assets/images/share_card_017.png') no-repeat;
              background-size: 100%;
            }
          }

          .item-groud {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;

            &:after {
              display: block;
              clear: both;
              content: ' ';
            }

            .item {
              float: left;
              top: 50%;
              width: 50%;
              font-size: rem(24px);
              text-align: center;
              transform: translate(0, -50%);

              &:last-child {
                border-left: 1px solid #fff;
              }

              > span {
                color: #fff;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }

              > p {
                padding-top: rem(15px);
                font-size: rem(24px);
                color: #e1e0e0;
              }
            }
          }

        }

        .node-groud {
          padding-top: rem(40px);

          .node {
            margin-bottom: rem(60px);

            &:last-child {
              margin-bottom: 0;
            }

            > i {
              top: rem(10px);
            }

            .text {
              display: inline-block;
              vertical-align: middle;

              .tit {
                color: #333;
              }

              .desc {
                font-size: rem(24px);
                color: #999;
              }
            }

          }

        }

      }

      .right {
        float: left;
        width: 50%;

        > img {
          left: rem(30px);
          width: 60%;
          margin: rem(-20px) auto 0 auto;
        }

        .top {
          padding-left: rem(20px);
          padding-top: rem(10px);

          .item {
            display: inline-block;

            &:before {
              display: inline-block;
              margin-right: rem(15px);
              width: rem(55px);
              height: rem(25px);
              border-radius: rem(4px);
              background: linear-gradient(to right, #2faff3, #076df8);
              content: ' ';
              vertical-align: middle;
            }

            &:last-child {
              &:before {
                background: linear-gradient(to bottom, #ecbe44, #ec491b);
              }
            }

            > span {
              vertical-align: middle;
            }
          }
        }

        .bot {
          top: rem(60px);
          margin-left: rem(-20px);

          .ok {
            position: absolute;
            left: rem(40px);
            font-size: rem(24px);
            color: #ec491b;
          }


          .num {
            &:after {
              display: block;
              clear: both;
              content: ' ';
            }

            .num-item {
              float: left;
              width: calc(100% / 2);
              font-size: rem(24px);
              text-align: center;

              > span {
                color: #51c457;
              }


              &:last-child {
                padding-left: rem(20px);

                > span {
                  color: #f80b0b;
                }
              }

            }
          }
        }
      }
    }

    .apply {
      .title {
        padding-bottom: rem(35px);

        > span {
          vertical-align: middle;
        }

        > i {
          margin-left: rem(20px);
        }
      }

      .sp-right {
        position: absolute;
        right: rem(20px);
        top: 0;
        bottom: 0;
        margin: auto 0;
      }

    }

    .block-02 {
      .inner {
        padding: rem(30px) 0;

        > p {
          line-height: rem(50px);
          color: #999;
        }
      }
    }

    .block-03 {
      .inner {
        padding: rem(30px) 0;

        .icon-group {
          &:after {
            display: block;
            clear: both;
            content: ' ';
          }

          .item {
            float: left;
            width: calc(100% / 4);
            text-align: center;

            .sp-share_card_08 {
              position: absolute;
              top: rem(-40px);
              right: rem(-25px);
              bottom: 0;
              margin: auto 0;
            }

            > p {
              padding-top: rem(20px);
            }
          }
        }
      }
    }
  }

  .btn {
    position: absolute;
    bottom: 0;
    padding: rem(15px) 0;
    width: 100%;
    background: #fff;

    .link {
      display: block;
      margin: 0 auto;
      width: rem(710px);
      height: rem(90px);
      line-height: rem(90px);
      text-align: center;
      font-size: rem(32px);
      color: #fff;
      border-radius: rem(10px);
      background: linear-gradient(to right, #2faff3, #076df8);
    }
  }


  .apply-mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 999;

    &:before {
      position: fixed;
      display: block;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: ' ';
      background: rgba(0, 0, 0, .3);
      z-index: 999;
    }

    .inner {
      position: absolute;
      top: 50%;
      left: 50%;
      width: rem(640px);
      background: #fff;
      z-index: 999;
      border-radius: rem(10px);
      overflow: hidden;
      background: #fff;
      transform: translate(-50%, -50%);

      .head {
        width: 100%;
        height: rem(100px);
        line-height: rem(100px);
        text-align: center;
        background: linear-gradient(to bottom, #f9f9f9, #e9e9e9);

        > span {
          font-size: rem(30px);
          color: #333;
        }

        > i {
          position: absolute;
          top: 0;
          bottom: 0;
          right: rem(30px);
          margin: auto 0;
        }
      }

      .body {
        padding: rem(45px);

        > p {
          font-size: rem(24px);
          line-height: rem(50px);
        }
      }

      .foot {
        padding-bottom: rem(40px);

        .btn-group {
          text-align: center;

          .btn-item {
            display: inline-block;
            margin: 0 rem(20px);
            width: rem(238px);
            height: rem(64px);
            text-indent: -9999px;

            &.close {
              background: url('~assets/images/card-apply-btn-colse.jpg') no-repeat;
              background-size: 100%;
            }

            &.ok {
              background: url('~assets/images/card-apply-btn-ok.jpg') no-repeat;
              background-size: 100%;
            }
          }

        }
      }
    }

  }

}