@import "~assets/styles/_bootstrap";

.finish-invite-page {
  height: 100%;
  background: #fff;

  // > ._v-container > ._v-content {
  //   padding-top: rem(90px);
  // }

  .wrapper {
    box-sizing: border-box;
    padding-bottom: rem(30px);

    .header {
      height: rem(845px);
      background: url(~assets/images/finish-invite-header.png) no-repeat center / 100% 100%;
    }

    .info-wrapper {
      >li {
        position: relative;
        height: rem(100px);
        margin-left: rem(88px);
        border-bottom: 1px solid #ddd;

        > span {
          color: #333;
          line-height: rem(100px);
          font-size: rem(28px);
        }

        .val {
          margin-left: rem(30px);
          color: #888;
        }

        input[type="text"] {
          margin-left: rem(30px);
          width: rem(280px);
          color: #888;
          border: none;

          &::-webkit-input-placeholder {
            color: #ddd;
          }
          &::-moz-placeholder {
            color: #ddd;
          }
          &:-moz-placeholder {
            color: #ddd;
          }
          &:-ms-input-placeholder {
            color: #ddd;
          }
        }

        .code-wrapper {
          position: absolute;
          top: rem(16px);
          right: rem(10px);

          .phone-code {
            height: rem(68px);
            background-color: #ffa50d;
            color: #fff;
            font-size: rem(28px);
            border-radius: rem(10px);
            padding: 0 rem(30px);

            &.active {
              background: #c9c9c9;
            }
          }
        }

        &::after {
          position:  absolute;
          top: rem(30px);
          left: rem(-52px);
          width: rem(36px);
          height: rem(40px);
          content: '';
          background: url(~assets/images/finish-invite-code.png) no-repeat center / 100% 100%;
        }

        &.phone {
          &::after {
            background: url(~assets/images/finish-invite-phone.png) no-repeat center / 100% 100%;
          }
        }
      }
    }

    .save-btn {
      margin: rem(40px) rem(20px) 0;
      height: rem(90px);
      line-height: rem(90px);
      text-align: center;
      color: #fff;
      background: #58a2f3;
      border-radius: rem(10px);
    }
  }
}
