@import "~assets/styles/_bootstrap";
.my-verify-page {
  position: relative;
  width: 100%;
  height: 100%;
  background: #f3f5f7;
  .tip{
    background:url(~assets/images/tip.jpg) no-repeat;
    width:rem(512px);
    height:rem(96px);
    position: absolute;
    top:rem(-50px);
    left:rem(100px);
    color:#fff;
    position: relative;
    z-index: 100;
    span{
      position: absolute;
      top:rem(40px);
      left:rem(70px);
      font-size: rem(24px);
    }
  }
  .take-photo-tip{
    position: absolute;
    top: -0.78125rem;
    right: 0.625rem;
    padding: 0 0.46875rem;
    height: 1.5625rem;
    line-height: 1.5625rem;
    color: #fff;
    font-size: 12px;
    background: #707070;
    border-radius: 0.1875rem;
  }
  .authentication {
    .bg {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      content: ' ';
      background: rgba(0, 0, 0, .3);
      z-index: 9999;
    }

    .authentication_wrapper {
      position: fixed;
      top: 50%;
      left: 50%;
      width: rem(650px);
      transform: translate(-50%, -50%);
      z-index: 9999;
      background: #fff;

      >header {
        height: rem(100px);
        line-height: rem(100px);
        text-align: center;
        font-size: rem(32px);
        color: #03b2f1;
        position: relative;
        .messages{
          color:#ccc;
          font-size:rem(22px);
          position: absolute;
          top:rem(50px);
          left:rem(90px);
        }
        i.close-btn {
          float: right;
          display: inline-block;
          width: rem(100px);
          height: rem(100px);
          background: url('~assets/images/car-verification/close.png') no-repeat center / rem(33px) rem(32px);
        }
      }
      .authentication_content{
        position: relative;
        height:rem(140px);
        line-height: rem(140px);
        border-bottom:rem(1px) solid #ccc;
        margin: rem(40px);
        input{
          border:none;
          color:#666;
          margin-left:rem(140px);
          font-size: rem(26px);
        }
        i{
          position: absolute;
          left:0;
          top:rem(20px);
          height:rem(120px);
          width:rem(120px);
          background:url(~assets/images/addcart.jpg) no-repeat;

        }
        .code{
           background:url(~assets/images/addcart2.jpg) no-repeat;
        }

      }
      .complete-btn{
        width: 17.8125rem;
        height: 2.8125rem;
        line-height: 2.8125rem;
        text-align: center;
        font-size: 1rem;
        color: #fff;
        margin:0.78125rem 2.3125rem 0.9375rem 1.3125rem;
        background-color: #01b3f0;
        border: 1px solid #01b3f0;
        border-radius: 0.3125rem;
      }

    }

    .vin-default {
      position: fixed;
      left: rem(29px);
      top: 50%;
      transform: translateY(-50%);
      width: rem(692px);
      height: rem(478px);
      background: url('~assets/images/car-verification/vin-default.png') no-repeat center / 100% 100%;
      z-index: 9999;
    }
  }
  .header-page{
    background-color: #0a0f12;
  }

  .wrapper {
    padding-top: rem(90px);
    .car-title{
      background-color: #fff;
      text-align: center;
      height: rem(100px);
      line-height: rem(100px);
      border-bottom: #eeeeee 1px solid;
      >div{
        padding-left: rem(68px);
        display: inline-block;
        color: #000;
        font-size: rem(34px);
        >img{
          height: rem(52px);
          width: rem(52px);
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    .car-state{
      background-color: #fff;
      height: rem(222px);
      border-bottom: #eeeeee 1px solid;
      margin-bottom: rem(20px);
      .state-list{
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 rem(20px);
        >li{
          flex: 1;
          text-align: center;
          p{
            font-size: rem(28px);
            color: #666666;
          }
          .num{
            font-size: rem(32px);
            color: #f2812e;
            margin-bottom: rem(30px);
          }
        }
      }
    }
    .car-verify{
      background-color: #fff;
      padding: rem(20px);
      .verify-title{
        h2{
          padding-left: rem(25px);
          line-height: rem(132px);
          color: #000;
          font-size: rem(30px);
          &:before{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: rem(6px);
            height: rem(31px);
            border-radius: 2px;
            background-color: #2fd8fc;
          }
        }
      }
      .verify-list{
        .list-item{
          display: flex;
          align-items: center;
          padding-left: rem(24px);
          width: rem(710px);
          height:rem(198px);
          border-radius: rem(10px);
          margin-bottom: rem(40px);
          background: -webkit-linear-gradient(left, #b0d3fb , #e1f0fe); /* Safari 5.1 - 6.0 */
          background: -o-linear-gradient(right, #b0d3fb, #e1f0fe); /* Opera 11.1 - 12.0 */
          background: -moz-linear-gradient(right, #b0d3fb, #e1f0fe); /* Firefox 3.6 - 15 */
          background: linear-gradient(to right, #b0d3fb , #e1f0fe); /* 标准的语法 */
          .icon{
            img{
              width: rem(86px);
              height: rem(86px);
            }
          }
          .text{
            padding-left: rem(20px);
            .iphone{
              font-size: rem(30px);
              color: #000;
            }
            .iphone-num{
              margin-top: rem(10px);
              font-size: rem(24px);
              color: #fff;
            }
          }
          .tool{
            position: absolute;
            right: rem(33px);
            top: 50%;
            width: rem(21px);
            height: rem(21px);
            transform: translateY(-50%) rotate(45deg);
            border-top: 2px solid #7fb8f8;
            border-right: 2px solid #7fb8f8;
          }
        }
      }
    }
  }
  .car-dialog {
    .bg {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      content: ' ';
      background: rgba(0, 0, 0, .3);
      z-index: 9999;
    }

    .take-photo-wrapper {
      position: fixed;
      top: 50%;
      left: 50%;
      width: rem(650px);
      transform: translate(-50%, -50%);
      z-index: 9999;

      >header {
        position: relative;
        height: rem(60px);
        line-height: rem(60px);
        text-align: center;
        font-size: rem(32px);
        color: #03b2f1;

        i.close-btn {
          position: absolute;
          top: 0;
          right: rem(-30px);
          display: inline-block;
          color:#fff;
          width: rem(60px);
          height: rem(60px);
          background: url('~assets/images/close_icon.png') no-repeat center / 100% 100%; 
        }
      }
      .take-photo-content {
        padding: 0 rem(30px);

        .take-photo-tip {
          margin-bottom: rem(10px);
          padding:0 rem(15px);
          color: #999;
        }

        .photo-card-wrapper {
          position: relative;
          width: rem(600px);
          height: rem(410px);
          margin: 0 auto;
          //background: url('~assets/images/car-verification/outline.png') no-repeat center / 100% 100%;

          .photo-card {
            position: absolute;
            top: rem(15px);
            left: 0;
            width: rem(600px);
            height: rem(410px);
          }
        }
      }
    }
  }
  .fade-enter-active, .fade-leave-active {
    transition: all 0.3s linear;
  }
  .fade-enter, .fade-leave-active {
    opacity: 0;
  }
}
