@import "~assets/styles/_bootstrap";

.credit-card-tips-page {
  position: fixed;
  top: rem(90px);
  left: 0;
  width: 100%;
  background-color: #fc5212;
  border-radius: rem(40px);
  padding: 0 rem(10px);

  .swiper-container {
    width: 100%;
    height: rem(60px);

    .swiper-wrapper {

      .swiper-slide {

        .content {
          height: rem(60px);
          line-height: rem(60px);
          color: #fff;
          font-size: rem(24px);
          text-align: center;
          white-space: nowrap;
          width: 160%;
          margin-left: -30%;
          transform: scale(.9, 1);
        }
      }
    }
  }
}