@import "~assets/styles/_bootstrap";

.user-present-record-page {
  height: 100%;
  background: #edf0f0;

  ._v-content {
    padding-top: rem(90px);
  }

  .wrapper {
    height: 100%;
  }

  .list {
    .item {
      margin-top: rem(20px);
      height: rem(155px);
      background: #fff;

      .left, .center, .right {
        display: inline-block;
        width: calc(100% / 3);
        text-align: center;
      }

      .left {
        .day {
          font-size: rem(28px);
          color: #333;
        }

        .time {
          padding-top: rem(10px);
          font-size: rem(28px);
        }
      }

      .left {
        top: 50%;
        transform: translate(0, -50%);
      }

      .center {
        position: absolute;
        top: 50%;
        margin: auto 0;
        color: #333;
        transform: translate(0, -50%);

        .tit {
          display: block;
        }
      }

      .right {
        position: absolute;
        top: 50%;
        right: 0;
        margin: auto 0;
        font-size: rem(32px);
        color: #333;
        transform: translate(0, -50%);

        > em {
          display: block;
          padding-top: rem(10px);
          font-size: rem(26px);
          color: #42b90c;

          &.err {
            color: #f00;
          }
        }
      }
    }
  }


}