

@import "~assets/styles/_bootstrap";
.InsuranceList{
  width: 100%;
  height: 100%;
  padding-top: rem(90px);
  position: relative;
  > ._v-container > ._v-content {
    position: relative;
    // padding-top: rem(90px);
  }

  .InsuranceList_wrap {
    .specialty_content_list {
      flex: 3;
      span{
        border:rem(1px) solid #ccc;
        display:inline-block;
        height:rem(46px);
        line-height:rem(46px);
        border-radius:rem(27px);
        margin-left:rem(20px);
        margin-right:rem(20px);
        padding:0 rem(10px);
        text-align: center;
        margin-top:rem(22px);
        color:#666;
        background:#eeeff1;
      }
      p {
        height: rem(55px);
        line-height:rem(55px);
      }
      
    }
    .Details_content_list{
      p {
        height: rem(55px);
        line-height:rem(55px);
      }
      span{
        margin-right: rem(20px);
      }
    }

    .Details_content {
      background: #fff;
      padding:rem(33px);
      color:#333;
      font-size:rem(28px);
      border-bottom: 1px solid #ccc;

      
      .specialty {
        display:flex;
        margin-bottom:rem(20px);
        

        .headline {
          padding-top: rem(20px);
        }

      }
      .Details_content_mid {

        .list {
          height: rem(55px);
          line-height:rem(55px);
        } 

      }
    }
    .Insurance_cost {
      display: flex;
      p {
        flex: 1;
      }
    }

    .Insurance_cost,.Insurance_insure {
      text-align: center;
      height: rem(103px);
      line-height: rem(103px);
      background: #fff;
      span{
        color: #fa0808;
      }
    }
    .Insurance_insure {
      display: flex;
      position: relative;
      text-align: center;

      p {
        display: flex;
      }

      .insure {
        width: rem(272px);
        position: absolute;
        right: 0;
        text-align: center;
        padding:0 rem(70px);
      }

      .price {
        padding-left:rem(20px);
        width: rem(100px);
        position: absolute;
        left: 0;
      }
      .account{
        margin-left: rem(250px);
      }

    }

    .Insurance_nav {
      padding-top: rem(20px);
      width: 100%;
      background: #edf0f0;

      .Insurance_guarantee {
        margin-bottom:rem(194px);
        margin-top:rem(20px);
        .list {
          height:rem(100px);
          line-height:rem(100px);
          border-bottom:rem(1px) dashed #ccc;
          color:#666;
          font-size: rem(28px);
        }
        .guarantee_list,.medical_list {
          background:#fff;
          padding: rem(20px);
          font-size: rem(30px);

          .list_title {
            color:#333;
          }

          .list_detail {
            padding:rem(30px) rem(30px) rem(40px) rem(30px);
            border-bottom:rem(1px) dashed #ccc;
          }

          .price{
            color:#fa0808;
            font-size: rem(30px);
            position:absolute;
            right:rem(70px);
          }

          .down{
            width:rem(40px);
            height:rem(30px);
            display:inline-block;
            position:absolute;
            right:rem(10px);
            background:url(~assets/images/insurance/down.png) no-repeat;
            background-size:90%;
            z-index: 10000;
            top:rem(40px);
          }

        }
      }
      
      &:after {
        display: block;
        clear: both;
        content: ' ';
      }

      .nav-group {
        width: 100%;
        border-bottom: 1px solid $bc;
        background: #fff;
        overflow: hidden;
        display:flex;
      }

      .item {
        flex:1;
        font-size: rem(28px);
        text-align: center;


        .title {
          height:rem(130px);
          line-height:rem(130px);
          font-size: rem(21px);
        }

        &.active {
          color: #2ea7e0;

          &:after {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            margin: 0 auto;
            width: rem(180px);
            content: ' ';
            border-bottom: 1px solid #2ea7e0;
          }
        }
      }
    }
    .insure {
      background: #fa0808;
      color: #fff;
      padding:0;
    }

  }

 .header-back {
   display: block !important;
  }
}
