@import "~assets/styles/_bootstrap";

.car-break-detail-page {
  height: 100%;
  background: #f3f5f7;

  .header-page {
    background-color: transparent;
  }

  > ._v-container > ._v-content {
    padding-top: rem(90px);
  }

  .add-car-btn {

  }

  .head-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(400px);
    background: url(~assets/images/car-verification/detail-header.png) no-repeat center / 100% 100%;
  }

  .car-list-wrapper {
    position: relative;
    margin: rem(100px) rem(45px) rem(54px);

    ul.car-number-tab {
      height: rem(46px);
      // overflow-y: auto;
      padding-left: rem(10px);
      box-sizing: border-box;

      > li {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        padding: 0 rem(10px);
        min-width: rem(146px);
        height: rem(50px);
        line-height: rem(50px);
        background: #eaeaea;
        color: #999;
        border-top-left-radius: rem(5px);
        border-top-right-radius: rem(5px);

        &:not(:first-child) {
          margin-left: rem(10px);
        }

        &.on {
          background: #40beff;
          color: #fff;
        }
      }
    }

    .car-detail {
      position: relative;
      height: rem(376px);
      background: #fff;
      box-shadow: 2px 2px 7px #ccc;
      border-radius: rem(10px);
      box-sizing: border-box;
      padding-left: rem(40px);

      .car-detail-top {
        position: relative;
        box-sizing: border-box;
        height: rem(190px);
        border-bottom: 1px solid #ddd;

        .car-number {
          position: absolute;
          top: rem(40px);
          left: 0;
          font-size: rem(36px);
          color: #333;
        }

        .car-detail-link {
          position: absolute;
          top: rem(98px);
          left: 0;
          display: inline-block;
          width: rem(195px);
          height: rem(28px);
          line-height: rem(28px);
          font-size: rem(24px);
          color: #f2812e;

          &::after {
            position: absolute;
            top: rem(4px);
            right: 0;
            content: '';
            width: rem(11px);
            height: rem(21px);
            background: url(~assets/images/car-verification/detail-link.png) no-repeat center / 100% 100%;
          }
        }

        em {
          position: absolute;
          top: rem(48px);
          right: rem(40px);
          display: inline-block;
          width: rem(87px);
          height: rem(86px);
          background: url(~assets/images/car-verification/detail-car.png) no-repeat center / 100% 100%;
        }
      }

      .car-detail-bottom {
        position: relative;
        height: rem(166px);

        .illegal-number {
          position: absolute;
          top: rem(30px);
          left: 0;
          width: rem(112px);
          height: rem(116px);
          line-height: rem(116px);
          text-align: center;
          font-size: rem(32px);
          color: #fff;
          background: url(~assets/images/car-verification/detail-circle.png) no-repeat center / 100% 100%;
        }

        .bottom-text {
          position: absolute;
          top: rem(34px);
          left: rem(130px);
          font-size: rem(32px);
          color: #666;
        }

        .illegal-wrapper {
          position: absolute;
          top: rem(88px);
          left: rem(130px);

          span {
            &.point, &.money {
              display: inline-block;
              width: rem(42px);
              height: rem(42px);
              float: left;
              background-repeat: no-repeat;
              background-position: center;
              background-size: 100% 100%;
            }

            &.point { background-image: url(~assets/images/car-verification/detail-point.png); }

            &.money {
              margin-left: rem(15px);
              background-image: url(~assets/images/car-verification/detail-money.png);
            }

            &.val {
              color: #000;
              float: left;
              margin-left: rem(15px);
            }
          }
        }

        .handle-btn {
          position: absolute;
          top: rem(60px);
          right: rem(32px);
          width: rem(115px);
          height: rem(50px);
          line-height: rem(50px);
          background: #40beff;
          color: #fff;
          text-align: center;
          border-radius: rem(5px);

          &.off { background: #999; }
        }
      }
    }
  }

  .fun-list {
    position: relative;
    margin: 0 rem(45px) rem(20px);

    > li {
      height: rem(160px);
      background: #fff;
      box-shadow: 2px 2px 7px #ccc;
      border-radius: rem(10px);

      &:not(:first-child) {
        margin-top: rem(30px);
      }

      i {
        position: absolute;
        top: rem(40px);
        left: rem(50px);
        display: inline-block;
        width: rem(90px);
        height: rem(90px);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 90% 90%;

        &.check { background-image: url(~assets/images/car-verification/check.png); }
        &.firm { background-image: url(~assets/images/car-verification/firm.png); }
        &.fine { background-image: url(~assets/images/car-verification/fine.png); }
      }

      span.name {
        position: absolute;
        top: rem(40px);
        left: rem(180px);
        font-size: rem(30px);
        color: #333;
      }

      span.desc {
        position: absolute;
        top: rem(90px);
        left: rem(180px);
        font-size: rem(26px);
        color: #999;
      }

      em {
        position: absolute;
        top: rem(65px);
        right: rem(40px);
        display: inline-block;
        width: rem(21px);
        height: rem(38px);
        background: url(~assets/images/car-verification/detail-arrow.png) no-repeat center / 100% 100%;
      }
    }
  }

}
