@import "~assets/styles/_bootstrap";
.cgb_wrap{
    height: 100%;
    height:100%;
    .cgb_detail{
        padding-top:rem(65px);
      img{
        width:100%；
      }
    }
    .header-back{
        display: block !important;
    }
    
}

