@import "~assets/styles/_bootstrap";

.past_plan {
  position: relative;
  width: 100%;
  height: 100%;
  background: #eeeff1;
	color: #323232;

  .content {
    padding-top: rem(90px);
  }

  .h3 {
		margin: rem(20px);
		color: #666;
  }

  .list-payment-plan {
    box-sizing: border-box;
    width: 100%;
    padding-left: rem(30px);
    background-color: #fff;

    .info {

			.money {
				padding: rem(15px) 0;
				height: rem(150px);
				border-bottom: rem(2px) solid #eee;
				font-size: rem(30px);

				.deploy {
					padding-top: rem(26px);
				}

				> span {
					color: #999;
				}
			}
		}

    .item {
      height: rem(150px);
      padding: rem(15px) 0;
      padding-right: rem(20px);
      border-bottom: rem(2px) solid #eee;

      .top, .bottom{
        height: rem(58px);
        line-height: rem(58px);

        > span:nth-child(1) {
          float: left;
        }

        > span:nth-child(2) {
          float: right;
        }

        .color-1 {
          color: #999;
        }
      }
    }

    .bordernone {
      border: none;
    }
  }

}