@import "~assets/styles/_bootstrap";

.empty-pay-success-page {
  width: 100%;
  height: 100%;
  padding-top: rem(90px);
  background: #eeeff1;

  .wrapper {
    width: 100%;
    height: rem(500px);
    background-color: #fff;
    text-align: center;

    .sp-pay-complete {
      margin-top: rem(70px);
    }

    > h3 {
      margin-top: rem(30px);
      font-size: rem(34px);
    }

    .bnt-success {
      width: 50%;
      height: rem(80px);
      margin: 0 auto;
      margin-top: rem(70px);
      font-size: rem(32px);
      background-color: #01b3f0;
      text-align: center;
      line-height: rem(80px);
      color: #fff;
      border-radius: rem(10px);
    }
  }

}