@import "~assets/styles/_bootstrap";

body {
  background: #edf0f0;
}

.simulate3-page {
  height: 100%;

  .wrapper {
    padding-top: rem(90px);
    padding-bottom: rem(20px);
    height: 100%;
  }


  .block {
    margin-top: rem(20px);
    padding-bottom: rem(30px);
    background: #fff;
    box-shadow: 0 rem(4px) rem(10px) rgba(0, 0, 0, .3);

    .list {
      padding-left: rem(30px);

      .item {
        padding: rem(35px) rem(20px) rem(35px) 0;
        border-bottom: 1px solid $bc;

        &.wrap {
          .left, .right {
            display: block;
            float: inherit;
            width: 100%;
          }

          .right {
            padding-top: rem(30px);

            .btn-gourp {
              position: relative;
            }
          }
        }

        &:after {
          display: block;
          clear: both;
          content: ' ';
        }

        .left {
          float: left;
          width: rem(200px);

          > span {
            height: rem(60px);
            line-height: rem(60px);
            font-size: rem(28px);
            color: #333;
          }
        }

        .right {
          float: left;
          width: rem(500px);
          height: rem(60px);

          &:after {
            display: block;
            clear: both;
            content: ' ';
          }

          .select-group {
            margin-bottom: rem(45px);
            width: 100%;

            &:after {
              display: block;
              clear: both;
              content: ' ';
            }

            .select-item {
              float: left;
              width: calc(100% / 3);
              line-height: rem(60px);
              cursor: pointer;

              > span {
                vertical-align: middle;
              }
            }
          }

          .input {
            float: left;
            padding-right: rem(10px);
            width: rem(460px);
            height: rem(60px);
            line-height: rem(60px);

            &.w200 {
              width: 50%;
            }

            > input {
              margin-left: rem(20px);
              width: 100%;
              height: 100%;
              font-size: rem(28px);
              border: none;
              background: none;

              &.width {
                width: rem(340px);
              }

              &.right {
                text-align: right;
              }

              &.border {
                display: inline-block;
                margin: 0;
                padding: 0 rem(10px);
                width: rem(118px);
                border: 1px solid #e8e8e8;
                border-radius: rem(10px);
              }
            }
          }

          .sp-right {
            position: absolute;
            top: 0;
            right: rem(20px);
            bottom: 0;
            margin: auto 0;
          }

          .tips {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto 0;
            height: rem(60px);
            line-height: rem(60px);
          }

          .btn-gourp {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto rem(-20px);
            height: rem(60px);
            line-height: rem(60px);

            &:after {
              display: block;
              clear: both;
              content: ' ';
            }

            .btn-item {
              float: left;
              margin: 0 rem(20px) rem(30px) rem(20px);
              padding: 0 rem(20px);
              font-size: rem(28px);
              text-align: center;
              color: #999;
              border: 1px solid $bc;
              border-radius: rem(10px);
              cursor: pointer;

              &.act {
                color: #fff;
                border: 1px solid #fff;
                background: #01b5f1;
              }
            }
          }
        }
      }
    }

  }

  .button-item {
    padding-top: rem(95px);
    padding-bottom: rem(50px);

    .btn {
      display: block;
      margin: 0 auto;
      width: rem(710px);
      height: rem(95px);
      line-height: rem(95px);
      font-size: rem(32px);
      color: #fff;
      text-align: center;
      border: none;
      border-radius: rem(10px);
      background: #01b3f0;
      cursor: pointer;

    }
  }

}
