@import "~assets/styles/_bootstrap";

.user-business-page {
	position: relative;
	height: 100%;
	background: #edf0f0;

	.wrapper {
		padding-top: rem(90px);
		padding-bottom: rem(30px);
		height: 100%;
	}

	.container {
		&:before {
			display: block;
			content: ' ';
			height: rem(170px);
			background: linear-gradient(#0a0f12, #2a3f4b);
		}
	}

	.user-info {
		margin: rem(-80px) auto 0 auto;
		width: rem(691px);
		border-radius: rem(10px);
		background: #fff;

		.head {
			padding-top: rem(50px);

			.avatar {
				display: inline-block;
				margin-left: rem(40px);
				width: rem(130px);
				height: rem(130px);

				> img {
					width: 100%;
					height: 100%;
				}
			}

			.info  {
				position: absolute;
				top: rem(50px);
				bottom: 0;
				left: rem(210px);
				margin: auto 0;
				width: rem(395px);
				height: rem(120px);
				border-bottom: 1px solid $bc;

				.name {
					font-size: rem(32px);
					color: #333;

					.sp-task-name {
						margin-left: 0;
						width: rem(35px);
						height: rem(35px);
					}

					.nick {
						display: inline-block;
						vertical-align: middle;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
						width: 50%;
					}
				}

				.tag {
					padding-top: rem(14px);
					display: inline-block;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					width: 100%;
					font-size: rem(28px);
					color: #999;

					> i {
						margin-left: rem(45px);
					}

					.age {
						margin-left: rem(50px);
						padding: 0 rem(20px);
						font-size: rem(24px);
						color: #fff;
						background: #2ea7e0;
					}
				}
			}
		}


		.body {
			padding: rem(35px);

			.item {
				height: rem(50px);
				line-height: rem(50px);

				.text {
					color: #999;
				}
			}
		}
	}


	.content {
		padding-top: rem(20px);
		padding-bottom: rem(114px);

		.item {
			padding: rem(40px) rem(30px);
			border-bottom: 1px solid $bc;
			background: #fff;
			color: #333;

			.text {
				color: #999;
			}

			&:last-child {
				border-bottom: none;
			}

			>h3 {
				width: 100%;
				font-size: rem(28px);
			}

			> span, > em {
				padding-left: rem(10px);
				font-size: rem(28px);
				color: #333;
				vertical-align: middle;
			}

			> em {
				position: absolute;
				right: rem(30px);
				padding-right: rem(30px);

				&.text {
					color: #999;
				}
			}

			.introduce {
				padding-top: rem(20px);
				height: rem(176px);
				overflow: hidden;
				color: #999;

				.text {
					padding-left: rem(50px);
				}

				.complete {
					color: #999;
				}

				.many {
					position: absolute;
					bottom: rem(4px);
					right: rem(18px);
					color: #01b5f1;
					background-color: #fff;
				}

				&.on {
					color: #333;
				}
			}

			.much {
				height: auto !important;
			}

			.text {
				color: #999;
			}

			.photo {
				padding-top: rem(30px);
				overflow: hidden;

				.list {
					text-align: right;
					overflow: hidden;

					.photo-item {
						display: inline-block;
						margin: 0 rem(15px) rem(20px) rem(15px);
						width: rem(130px);
						height: rem(130px);
						border: 1px solid $bc;
						vertical-align: top;

						&.no-border {
							border: none;
						}

						> img {
							width: 100%;
							height: 100%;
						}
					}
				}
			}
		}

		.company {

			.item {

				.profile {

					> span {
						padding-left: rem(10px);
					}
				}
			}

			.name {
				border-bottom: 1px solid $bc;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}

		.title {
			position: relative;
			padding: rem(30px);
			font-size: rem(28px);
			color: #999;

			i.icon {
				position: absolute;
				top: 50%;
				right: 0;
				margin-top: rem(-40px);
				display: inline-block;
				width: rem(80px);
				height: rem(80px);
				line-height: rem(80px);
				text-align: center;
				font-size: rem(40px);
				transform: rotate(90deg);
			}
		}
	}

	.foot {
		padding-top: rem(114px);
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: rem(114px);
		background-color: #565e63;

		.head {
			position: absolute;
			top:rem(10px);
			left: rem(70px);
			width: rem(94px);
			height: rem(94px);
			border-radius: 50%;

			> img {
				width: 100%;
				height: 100%;
				border-radius: 50%;
			}
		}

		.info {
			position: absolute;
			top: rem(20px);
			left: rem(188px);
			width: rem(240px);
			color: #fff;
		}

		.download {
			position: absolute;
			top: rem(20px);
			right: rem(80px);
			width: rem(202px);
			height: rem(62px);
			line-height: rem(62px);
			text-align: center;
			font-size: rem(30px);
			border-radius: rem(30px);
			background: url('~assets/images/share-card.png') no-repeat;
			background-size: 100% 100%;

			> a {
				display: block;
				width: 100%;
				height: 100%;
				color: #fff;
			}
		}
	}

	.layer {
		position: relative;
		z-index: 2001;

		.mask {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, .5);
		}

		.box {
			position: fixed;
			top: 50%;
			left: 50%;
			width: rem(590px);
			height: rem(350px);
			margin-top: rem(-175px);
			margin-left: rem(-295px);
			padding-top: rem(260px);
			background: url(~assets/images/card-share-layer.png) no-repeat;
			background-size: 100%;
			text-align: center;
			font-size: 0;
			z-index: 2001;

			> a {
				display: inline-block;
				vertical-align: top;
				width: rem(240px);
				line-height: rem(62px);
				font-size: rem(32px);
				margin: 0 rem(15px);
				border-radius: rem(40px);
				overflow: hidden;

				&:first-child {
					border: 1px solid $bc;
					color: #999;
				}

				&:last-child {
					border: 1px solid #01b3f0;
					background-color: #01b3f0;
					color: #fff;
				}
			}
		}

		.share-image {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;

			> img {
				display: block;
				width: 100%;
				height: auto;
			}
		}
	}

	.scalePhoto {
		position: fixed;
		z-index: 99999999;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0, .7);

		.content-img {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
		}
	}

}