@import "~assets/styles/_bootstrap";

.app-andriod-download-page {
  height: 100%;

  > ._v-container > ._v-content {
    padding-top: rem(90px);
  }

  .btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(120px);
    background: #eee;

    .download-btn {
      width: rem(680px);
      height: rem(80px);
      line-height: rem(80px);
      text-align: center;
      font-size: rem(30px);
      color: #fff;
      background: #3a95ce;
      border-radius: rem(15px);
    }
  }
}
