@import "~assets/styles/_bootstrap";

.loan-apply-page {
	height: 100%;

	> ._v-container > ._v-content {
    padding-top: rem(90px);
	}

	.info_box {
		margin-top: rem(20px);
		padding-bottom: rem(40px);
		background: #fff;

		.info {
			margin: 0 rem(20px);
			font-size: rem(28px);

			.receiver {
				position: relative;
				height: rem(126px);
				line-height: rem(126px);
				font-size: rem(28px);
				border-bottom: 1px solid $bc;
				color: #000;
				overflow: hidden;

				.people {
					float: left;
				}

				.select {
					position: absolute;
					top: 0;
					right: 0;
					width: rem(300px);
					height: 100%;

					&.on {
						padding-right: rem(40px);
						text-align: right;
					}

					> input {
					width: rem(300px);
					text-align: right;
					padding-right: rem(40px);
					border: none;
					}

					.region {
						padding-left: rem(60px);
					}
				}

				.recipients {
					position: absolute;
					top: rem(26px);
					right: rem(70px);
					width: rem(226px);
					height: rem(70px);
					padding-right: rem(20px);
					font-size: rem(28px);
					text-align: right;
					border: 1px solid $bc;
					border-radius: rem(10px);
					background-color: #eee;
				}

				input.input-item {
					position: absolute;
					top: rem(26px);
					right: rem(20px);
					width: rem(400px);
					height: rem(70px);
					font-size: rem(28px);
					text-align: right;
					border: none;
					outline: none;
				}

				.money {
					float: right;
				}

				.indicate {
					position: absolute;
					top: rem(50px);
					right: 0;
				}

				.input-box {
					position: absolute;
					top: 0;
					right: 0;
					padding-top: rem(20px);
					width: rem(600px);
					height: 100%;

					&.radio {
						padding: 0;
						text-align: right;

						.radio {
							margin-left: rem(20px);
						}
					}

					.radio-group {
						float: left;
						display: flex;
						justify-content: center;
						align-items: center;
						height: rem(80px);
						margin-left: rem(420px);
						color: #333;

						> input {
							width: rem(100px);
							height: rem(100px);
						}

						&:nth-child(2) {
							margin-left: rem(80px);
						}

						:checked + .circle-radio .hook {
							display: block;
						}

						.circle-radio {
							display: block;
							width: rem(37px);
							height: rem(37px);
							margin-left: rem(-54px);
							border-radius: 100%;
							background-color: #01b3f0;

							.hook {
									display: block;
									display: none;
									width: rem(10px);
									height: rem(22px);
									margin: 0 auto;
									margin-top: rem(4px);
									border-right: rem(2px) solid #fff;
									border-bottom: rem(2px) solid #fff;
									transform: rotate(45deg);
								}
						}

						.label {
							padding-left: rem(16px);
						}

						.radio-h {
							display: none;
						}
					}
				}

				.box-right {
					position: absolute;
					top: 0;
					right: rem(40px);
					width: rem(100px);
					height: 100%;
					text-align: right;
				}

				.checkbox {
					position: absolute;
					top: rem(45px);
					right: rem(30px);
					width: rem(40px);
					height: rem(40px);
					margin-right: rem(10px);
					border-radius: 50%;
				}
			}

			.btn {
				width: rem(400px);
				height: rem(80px);
				line-height: rem(80px);
				text-align: center;
				border: 1px solid $bc;
				border-radius: rem(10px);
				margin: auto;
				margin-top: rem(50px);
				background-color: #ccc;

				> a {
					color: #fff;
				}
			}

			.active {
				color: #fff;
				background-color: #01b3f0;
			}
		}

		.btn {
			width: rem(710px);
			height: rem(90px);
			line-height: rem(90px);
			text-align: center;
			font-size: rem(32px);
			color: #fff;
			margin: rem(80px) rem(20px) 0 rem(20px);
			background-color: #c9c9c9;
			border: 1px solid #c9c9c9;
			border-radius: rem(10px);

			&.on {
				background-color: #01b3f0;
				border: 1px solid #01b3f0;
			}
		}
	}
}
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}